{% extends 'main.html' %}
{% block title %} Личный кабинет {% endblock %}

{% block content %}
<style>
    h3{
        margin-left:20px;

    }
</style>

<h1>{{user.username}}
  <div class="navbar-text ml-9" style="margin:0 250px;">
      {% if inbase%}
       <a class="btn btn-info" href="/changeAccData" role="button" >Редактивировать</a>

      {%else%}
 <a class="btn btn-info" href="/changeData" role="button">Внести данные</a>
      {%endif%}
  </div>
</h1>
  {% for human in our_user%}
<h3>{{human.name}}      {{human.surname}}</h3>
<h3>Возраст: {{human.age}} Пол: {{human.gender}}</h3>
<h3>Телефон: {{human.phone}} </h3>
<h3>Email: {{human.email}}</h3>
<h3>  Рост: {{human.height}} Вес: {{human.weight}}</h3>
{%if human.hronoType%}
<h3>  Хронотип: {{human.hronoType}}</h3>
{%endif%}
    {%endfor%}
{%if imt%}
<h3>Индекса массы тела: {{imt}} <a style="color:{{imtcolr}}" > {{imtres}}</a></h3>
{%endif%}

{% endblock %}