{% extends 'main.html' %}
{% block title %} Управление {% endblock %}

{% block content %}

{% if user.is_authenticated%}

<table class="table table-hover">
 <thead class="thead-dark">
    <tr>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Возраст</td>
        <td>Пол</td>
        <td>Email</td>
        <td>Рост</td>
        <td>Вес</td>

    </tr>
  </thead>
  <tbody>
    <tr>
        {% for human in all_employees%}
        <td>{{human.name}}</td>
        <td>{{human.surname}}</td>
        <td>{{human.age}}</td>
        <td>{{human.gender}}</td>
        <td>{{human.email}}</td>
        <td>{{human.height}}</td>
        <td>{{human.weight}}</td>
        <td>{{human.phys}}</td>
         <!-- <form style="margin-top:5px" action="/changeAccData/" method="get"> {%csrf_token%} <button type="submit" name="delete" value="{{human.id}}">Редактивировать</button> </form>
-->
        </td>
    </tr>
  {%endfor%}

  </tbody>
</table>
<!--   {% for human in bio%}
{{human.phys}}
  {%endfor%}-->
{%endif%}
{% endblock %}
