{% extends 'main.html' %}
{% block title %} Вход {% endblock %}

{% block content %}
<style>
    .register-block
{
background-color: #ffffff;
padding:20px;
/* text-align:center; */
}
</style>

<div class="register-block">
<form action="" method="post">
    {%csrf_token%}
    {% for field in form %}
    <label for="">{{field.label}}</label>
    <div>{{field}}</div>
    {% if field.errors%}
    <a>{{field.errors}}</a>
    {%endif%}
    {%endfor%}
<br>
<button type="submit" class="btn btn-secondary">Зарегестрироваться</button>
</form>

</div>
{% endblock %}
